@model IQueryable<Film>

@{
    ViewData["Title"] = "Film's Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <h3>@typeof(Film).Name</h3> @*we get the name of the table from the very same model*@
            </th>
            <th>
                <a asp-action="Create" class="btn btn-success">Add a film</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@film.FilmId">@Html.DisplayFor(f => film.Title)</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@film.FilmId" class="btn btn-warning">
                        Edit
                    </a>               
                    <a asp-action="UpdateCast" asp-route-id="@film.FilmId" class="btn btn-primary">
                        Update Cast
                    </a>
                    <a asp-action="Delete" asp-route-id="@film.FilmId" class= "btn btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>